@{
    ViewBag.Title = "Home Page";
}





<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
        <div class="col-md-6 agileits_banner_bottom_left">
            <h3>welcome to <span>Adoring</span></h3>
            <p class="w3l_para">
                Curabitur nec purus eget urna pulvinar placerat. Integer varius est vitae iaculis
                suscipit. Integer sed rutrum lectus.
            </p>
            <div class="w3l_social_icons">
                <div class="w3l_social_icon_grid">
                    <div class="w3l_social_icon_gridl w3_facebook">
                        <a href="#">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="w3l_social_icon_gridr">
                        <p class="counter">23,536</p>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="w3l_social_icon_grid_pos">
                        <label>-</label>
                    </div>
                </div>
                <div class="w3l_social_icon_grid w3ls_social_icon_grid">
                    <div class="w3l_social_icon_gridl w3_dribbble">
                        <a href="#">
                            <i class="fa fa-dribbble" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="w3l_social_icon_gridr">
                        <p class="counter">13,676</p>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="w3l_social_icon_grid_pos">
                        <label>-</label>
                    </div>
                </div>
                <div class="w3l_social_icon_grid">
                    <div class="w3l_social_icon_gridl w3_instagram">
                        <a href="#">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="w3l_social_icon_gridr">
                        <p class="counter">45,342</p>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="w3l_social_icon_grid_pos">
                        <label>-</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 agileits_banner_bottom_right">
            <div class="w3ls_banner_bottom_right">
                <img src="~/images/2.jpg" alt=" " class="img-responsive" />
                <div class="w3ls_banner_bottom_right_pos">
                    <img src="~/images/1.jpg" alt=" " class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //banner-bottom -->


<div class="banner-bottom-icons">
    <div class="col-md-6 w3_banner_bottom_icons_left hover15">
        <div class="w3_agile_banner_bottom">
            <figure><img src="~/images/3.jpg" alt=" " class="img-responsive" /></figure>
        </div>
    </div>
    <div class="col-md-6 w3_banner_bottom_icons_right">
        <div class="col-xs-6 w3_banner_bottom_icons1">
            <div class="w3_banner_bottom_icons1_effect">
                <i class="fa-table"></i>
                <h3>interior enterprise</h3>
                <p>Curabitur ac enim et augue consectetur elementum sed vitae neque.</p>
            </div>
        </div>
        <div class="col-xs-6 w3_banner_bottom_icons1">
            <div class="w3_banner_bottom_icons1_effect">
                <i class="fa-trophy"></i>
                <h3>awards winning</h3>
                <p>Curabitur ac enim et augue consectetur elementum sed vitae neque.</p>
            </div>
        </div>
        <div class="col-xs-6 w3_banner_bottom_icons1">
            <div class="w3_banner_bottom_icons1_effect">
                <i class="fa-jpy"></i>
                <h3>reasonable price</h3>
                <p>Curabitur ac enim et augue consectetur elementum sed vitae neque.</p>
            </div>
        </div>
        <div class="col-xs-6 w3_banner_bottom_icons1">
            <div class="w3_banner_bottom_icons1_effect">
                <i class="fa-user"></i>
                <h3>free consultation</h3>
                <p>Curabitur ac enim et augue consectetur elementum sed vitae neque.</p>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //banner-bottom-icons -->
<!-- events-top -->
<div class="events-top">
    <ul id="flexiselDemo1">
        <li>
            <div class="agile_events_top_grid">
                <div class="w3_agileits_evets_text_img">
                    <a href="~/images/4.jpg" class="lsb-preview" data-lsb-group="header">
                        <div class="view view-eighth">
                            <img src="~/images/4.jpg" alt=" " class="img-responsive" />
                            <div class="mask">
                                <img src="~/images/plus.png" alt=" " class="img-responsive info" />
                            </div>
                        </div>
                        <div class="agile_events_top_grid_pos">
                            <img src="~/images/1.png" alt=" " class="img-responsive" />
                        </div>
                    </a>
                </div>
                <div class="agileits_w3layouts_events_text">
                    <h3>Richard Carl</h3>
                    <p>Business Dealer</p>
                </div>
            </div>
        </li>
        <li>
            <div class="agile_events_top_grid">
                <div class="w3_agileits_evets_text_img">
                    <a href="~/images/7.jpg" class="lsb-preview" data-lsb-group="header">
                        <div class="view view-eighth">
                            <img src="~/images/7.jpg" alt=" " class="img-responsive" />
                            <div class="mask">
                                <img src="~/images/plus.png" alt=" " class="img-responsive info" />
                            </div>
                        </div>
                        <div class="agile_events_top_grid_pos">
                            <img src="~/images/3.png" alt=" " class="img-responsive" />
                        </div>
                    </a>
                </div>
                <div class="agileits_w3layouts_events_text">
                    <h3>Michael Crisp</h3>
                    <p>Business Dealer</p>
                </div>
            </div>
        </li>
        <li>
            <div class="agile_events_top_grid">
                <div class="w3_agileits_evets_text_img">
                    <a href="~/images/6.jpg" class="lsb-preview" data-lsb-group="header">
                        <div class="view view-eighth">
                            <img src="~/images/6.jpg" alt=" " class="img-responsive" />
                            <div class="mask">
                                <img src="~/images/plus.png" alt=" " class="img-responsive info" />
                            </div>
                        </div>
                        <div class="agile_events_top_grid_pos">
                            <img src="~/images/2.png" alt=" " class="img-responsive" />
                        </div>
                    </a>
                </div>
                <div class="agileits_w3layouts_events_text">
                    <h3>Adam Lii</h3>
                    <p>Business Dealer</p>
                </div>
            </div>
        </li>
        <li>
            <div class="agile_events_top_grid">
                <div class="w3_agileits_evets_text_img">
                    <a href="~/images/5.jpg" class="lsb-preview" data-lsb-group="header">
                        <div class="view view-eighth">
                            <img src="~/images/5.jpg" alt=" " class="img-responsive" />
                            <div class="mask">
                                <img src="~/images/plus.png" alt=" " class="img-responsive info" />
                            </div>
                        </div>
                        <div class="agile_events_top_grid_pos">
                            <img src="~/images/4.png" alt=" " class="img-responsive" />
                        </div>
                    </a>
                </div>
                <div class="agileits_w3layouts_events_text">
                    <h3>Thomas Paul</h3>
                    <p>Business Dealer</p>
                </div>
            </div>
        </li>
        <li>
            <div class="agile_events_top_grid">
                <div class="w3_agileits_evets_text_img">
                    <a href="~/images/1.jpg" class="lsb-preview" data-lsb-group="header">
                        <div class="view view-eighth">
                            <img src="~/images/1.jpg" alt=" " class="img-responsive" />
                            <div class="mask">
                                <img src="~/images/plus.png" alt=" " class="img-responsive info" />
                            </div>
                        </div>
                        <div class="agile_events_top_grid_pos">
                            <img src="~/images/2.png" alt=" " class="img-responsive" />
                        </div>
                    </a>
                </div>
                <div class="agileits_w3layouts_events_text">
                    <h3>Adam Lii</h3>
                    <p>Business Dealer</p>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="events">
    <div class="container">
        <h3 class="agileinfo_header">Adorning Events</h3>
        <p class="agileits_dummy_para">Fusce elementum sem ut ex condimentum facilisis.</p>
        <div class="w3ls_event_grids">
            <div class="col-md-6 wthree_events_grid_left">
                <div class="wthree_events_grid_left1">
                    <div class="wthree_events_grid_left1_grid">
                        <div class="col-xs-4 wthree_events_grid_left1_gridl">
                            <p>10 Nov 2019</p>
                        </div>
                        <div class="col-xs-8 wthree_events_grid_left1_gridr">
                            <h4><a href="#" data-toggle="modal" data-target="#myModal">sem ut ex condimentum</a></h4>
                            <p>Curabitur maximus odio enim, ac blandit erat sollicitudin vitae.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="wthree_events_grid_left1">
                    <div class="wthree_events_grid_left1_grid">
                        <div class="col-xs-4 wthree_events_grid_left1_gridl">
                            <p>13 Nov 2019</p>
                        </div>
                        <div class="col-xs-8 wthree_events_grid_left1_gridr">
                            <h4><a href="#" data-toggle="modal" data-target="#myModal">placerat posuere magna</a></h4>
                            <p>Curabitur maximus odio enim, ac blandit erat sollicitudin vitae.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="wthree_events_grid_left1">
                    <div class="wthree_events_grid_left1_grid">
                        <div class="col-xs-4 wthree_events_grid_left1_gridl">
                            <p>17 Nov 2019</p>
                        </div>
                        <div class="col-xs-8 wthree_events_grid_left1_gridr">
                            <h4><a href="#" data-toggle="modal" data-target="#myModal">maximus odio enim vitae</a></h4>
                            <p>Curabitur maximus odio enim, ac blandit erat sollicitudin vitae.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wthree_events_grid_right">
                <div class="wthree_events_grid_right1">
                    <h3>5 <span>years of experience</span></h3>
                    <h2>ador<span>ning</span></h2>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //events -->
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Adorning
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <section>
                <div class="modal-body">
                    <div class="col-md-6 w3_modal_body_left">
                        <img src="~/images/2.jpg" alt=" " class="img-responsive" />
                    </div>
                    <div class="col-md-6 w3_modal_body_right">
                        <p>
                            Ut enim ad minima veniam, quis nostrum
                            exercitationem ullam corporis suscipit laboriosam,
                            nisi ut aliquid ex ea commodi consequatur? Quis autem
                            vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur.
                            <i>
                                " Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                                esse quam nihil molestiae consequatur.
                            </i>
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </section>
        </div>
    </div>
</div>
